*{
  box-sizing: border-box;
}
body{
  background: #3b3d43;
}
.button-nav{
  border: 0;
  padding: 0;
  font-family: 'Courier New';
  background: transparent;
  color: white;
  cursor: pointer;
}

.navbar{
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0 20px;
  background: #19191c;
  color: white;
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120px;
}
.navbar-logo-icon{
  height: 28px;
}
.home{
  display: flex;
  gap: 10px;
}

.navbar-logo-text{
  display: none;
  height: 20px;
}
.navbar-menu{
  display: flex;
  transition: 0.3s;
}
.navbar-menu button{
  position: relative;
  flex-basis: 36px;
  display: grid;
  place-items: center;
  font-size: 30px;
  height: 75px;
  width: 35px;
  opacity: 0.3;
}
.navbar-menu button:hover{
  opacity: 1;
}
.navbar-menu button:hover::after{
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  width: 4px;
  border-radius: 50%;
  background: aqua;
}
